<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.3.1" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net472" />
  <package id="EntityFramework" version="6.3.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.11.4" targetFramework="net472" />
  <package id="HtmlAgilityPack" version="1.11.28" targetFramework="net472" />
  <package id="Imazen.WebP" version="10.0.1" targetFramework="net472" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net472" />
  <package id="K4os.Compression.LZ4" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Compression.LZ4.Streams" version="1.1.11" targetFramework="net472" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net472" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net472" />
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net472" />
  <package id="MySql.Data" version="8.0.22" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.22.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="126.0.6478.12600" targetFramework="net472" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Data.SQLite.x64" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
</packages>